<div class="about-content">
  <div class="about-top">
    <div class="container">
      <h2>Про Нас</h2>
    </div>
  </div>

  <div class="about-bottom">
    <div class="container">
      <h4>A Few words about us</h4>
      <div class="col-sm-7 col-xs-12 about-btm-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris. Fusce velit justo, faucibus eu sagittis ac, gravida quis tortor. Suspendisse non urna mi, quis tincidunt eros. Nullam tellus turpis, fringilla sit amet congue ut, luctus a nulla. Donec sit amet sapien neque, id ullamcorper diam. Nulla facilisi. Pellentesque pellentesque arcu a elit congue lacinia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu erat lacus, vel congue mauris. Fusce velit justo, faucibus eu sagittis ac, gravida quis tortor. Suspendisse.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
