<!--create-new-door-->
<div class="contact">
  <div class="container">
    <h2>Змінити двері</h2>
    <%= render partial: 'doors/door', locals: {m: 'put', photo_title: 'Змінити фото', submit_title: 'Зберегти'} %>
  </div>
</div>
<!--create-new-door-->
