<!--create-new-door-->
<div class="contact">
  <div class="container">
    <h2>Додати двері</h2>
        <%= render partial: 'doors/door', locals: {m: 'post', photo_title: 'Завантажити фото', submit_title: 'Додати'} %>
  </div>
</div>
<!--create-new-door-->